.deneme {
    display: flex;
    justify-content: center;
    align-items: center;
}
.denememargin{
    margin-left: 50px;
}
.denememargin2{
    margin-left: 50px;
}
table{
    border-collapse: collapse;  
} 

@media screen and (max-width: 600px) {
    .navbar .dropdown-menu .form-control {
        width: 200px;
    }
    .denememargin{
        margin-left: 13%;
    }
    .denememargin2{
        margin-left: 3%;
    }
    .tablewidthden{
        max-width:390px;
    }
}